<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
    账　号111111111:<input type="text" name="sendUser" id="sendUser"/>
    <input type="button" id="login" value="登录" onclick="login()"/>
    <input type="button" onclick="closeWebSocket()"  value="退出"/>

    <br/>
    接收人:<input type="text" name="toUser" id="toUser"/><br/>
    消息框:<br/>
    <textarea rows="5" cols="5" id="showMsg" name="showMsg" disabled="disabled" style="width: 302px; height: 111px; "></textarea><br/>
    <textarea rows="5" cols="5" id="message" name="sendMsg" style="width: 302px; height: 111px; "></textarea><br/>
    <input type="button" value="发送" onclick="send()"/>　<input type="button" value="关闭" onclick="closeWebSocket()"/>

</body>
<script type="text/javascript" src="/js/sockjs.min.js"></script>
<script>
    var websocket = null;
    function login(){
        var sendUser = document.getElementById("sendUser").value;
        if('WebSocket' in window) {
            websocket = new WebSocket("ws://192.168.31.127:8080/websocket/"+ sendUser);
        } else if('MozWebSocket' in window) {
            websocket = new MozWebSocket("ws://192.168.31.127:8080/websocket/"+ sendUser);
        } else {
            websocket = new SockJS("192.168.31.127:8080/websocket/"+ sendUser);
        }

        //连接发生错误的回调方法
        websocket.onerror = function () {
            //setMessageInnerHTML("WebSocket连接发生错误");
        };

        //连接成功建立的回调方法
        websocket.onopen = function () {
            //setMessageInnerHTML("WebSocket连接成功");
        }

        //接收到消息的回调方法
        websocket.onmessage = function (event) {
            setMessageInnerHTML(event.data);
        }

        //连接关闭的回调方法
        websocket.onclose = function () {
            //setMessageInnerHTML("WebSocket连接关闭");
        }

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function () {
            closeWebSocket();
        }

        //关闭WebSocket连接
        function closeWebSocket() {
            websocket.close();
        }
    }

    //发送消息
    function send() {
        var sendUser = document.getElementById("sendUser").value;
        var toUser = document.getElementById("toUser").value;
        var message = document.getElementById("message").value;
        var jsonMsg = {"sendUser":sendUser,"toUser":toUser,"message":message}
        websocket.send(JSON.stringify(jsonMsg));
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        console.log(innerHTML);
        document.getElementById('showMsg').innerHTML += innerHTML;
    }

</script>

</html>